.bundle/
.vagrant/
Gemfile.lock
Vagrantfile
output-xenial64-vbox/
output-xenial64-vmware/
packer_cache/
vendor/
xenial64-vbox.box
xenial64-vmware.box
.kitchen/
output-vault-dev64-vbox/
output-vault-dev64-vmware/
vault-dev64-vbox.box
vault-dev64-vmware.box

